.venv/
venv/
__pycache__/
*.py[cod]
.pytest_cache/

.idea/
.vscode/
.DS_Store

raw_data/
images/
images2/
images_labelled_properly/
checkpoints/
checkpoints_mae2/
feature_database/

*.pth
*.pt
*.ckpt
*.npz
best_xgboost_transformer2.json
